policy_module(fah, 1.0.0)

require {
  type proc_t;
  type var_run_t;
}

########################################
#
# Declarations
#

type fah_t;
type fah_exec_t;
init_daemon_domain(fah_t, fah_exec_t)

type fah_config_t;

type fah_log_t;
logging_log_file(fah_log_t)

type fah_tmp_t;
files_tmp_file(fah_tmp_t)

type fah_port_t;
corenet_port(fah_port_t)

type fah_var_lib_t;

permissive fah_t;

########################################
#
# fah local policy
#
allow fah_t self:capability { setuid };
allow fah_t self:process { fork setpgid setrlimit signal_perms };
allow fah_t self:fifo_file rw_fifo_file_perms;
allow fah_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(fah_t)

files_read_etc_files(fah_t)

auth_use_nsswitch(fah_t)

miscfiles_read_localization(fah_t)

sysnet_dns_name_resolve(fah_t)

#######
#
# Defaults are above
#

#============= fah_t ==============
allow fah_t proc_t:file { open read };
allow fah_t self:capability dac_override;
allow fah_t var_run_t:dir { add_name write };

allow fah_t fah_port_t:tcp_socket name_connect;

#============= init_t ==============
allow init_t fah_var_lib_t:dir search;

#!!!! WARNING: 'var_run_t' is a base type.
allow fah_t var_run_t:file { create lock open read write };
